# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Build directories
dist/
build/

# Mac system files
.DS_Store

# IDE specific files
.vscode/
.idea/

# Environment variables
.env