@font-face {
  font-family: 'FIGSv2';
  src: url('../fonts/FIGSv2-sans-serif-Thin.woff2') format('woff2'),
       url('../fonts/FIGSv2-sans-serif-Thin.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FIGSv2';
  src: url('../fonts/FIGSv2-sans-serif-Regular.woff2') format('woff2'),
       url('../fonts/FIGSv2-sans-serif-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FIGSv2';
  src: url('../fonts/FIGSv2-sans-serif-Bold.woff2') format('woff2'),
       url('../fonts/FIGSv2-sans-serif-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.body {
  font-family: "FIGSv2", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 48px;
}

@media (min-width: 768px) {
  .content {
    max-width: 1300px;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
    gap: 16px;
  }
}

.content__image {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: auto;
}

.content__image-item {
  width: 580px;
  height: 440px;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 768px) {
  .content__image {
    max-width: 580px;
  }

  .content__image-item {
    height: auto;
  }
}

.content__text {
  flex: 1;
  width: 100%;
  gap: 8px;
}

@media (min-width: 768px) {
  .content__text {
    max-width: 580px;
    margin: auto;
  }
}

.content__text-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 1.2px;
  padding-left: 16px;
  padding-right: 16px;
}

.content__text-description {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.65px;
  padding-left: 16px;
  padding-right: 16px;
  color: #282828;
}

@media (min-width: 768px) {
  .content__text-title {
    font-size: 32px;
    padding: 0;
  }
  .content__text-description {
    padding: 0;
  }
}

.content__text-signature {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  overflow: auto;
}

.content__text-signature-item {
  width: 100%;
  max-width: 343px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 768px) {
  .content__text-signature-item {
    width: 343px;
    padding: 0;
  }
}

.values {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 48px;
}

.values__card {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  width: 100%; 
  max-width: 580px; 
  padding: 0 16px;
}

.values__icon {
  margin-bottom: 0;
}

.values__icon-image {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.values__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.8px;
  color: #282828;
  margin: 0 0 8px;
}

.values__description {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.68px;
  color: #282828;
  margin: 0;
}

@media (min-width: 768px) {
  .values {
    flex-direction: row; 
    max-width: 1332px;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 48px;
    gap: 16px;
  }

  .values__card {
    flex: 1 1 calc(50% - 2rem); 
    max-width: 580px;
    margin: auto;
    padding: 0;
    text-align: left;
    flex-direction: row; 
  }

  .values__icon {
    margin: 0 1rem 0 0; 
  }

  .values__content {
    flex: 1;
  }

  .values__card:nth-child(1) {
    order: 1;
  }
  .values__card:nth-child(5) {
    order: 2;
  }
  .values__card:nth-child(2) {
    order: 3;
  }
  .values__card:nth-child(6) {
    order: 4;
  }
  .values__card:nth-child(3) {
    order: 5;
  }
  .values__card:nth-child(7) {
    order: 6;
  }
  .values__card:nth-child(4) {
    order: 7;
  }
  .values__card:nth-child(8) {
    order: 8; 
  }
}

.values-intro {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.values-intro__image {
  width: 100%;
  height: 440px;
}

.values-intro__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.values-intro__content {
  padding: 0 16px;
  padding-bottom: 16px;
}

.values-intro__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: 1.2px;
  color: #282828;
  margin-top: 24px;
  margin-bottom: 16px;
}

.values-intro__description {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.65px;
  color: #282828;
  margin-bottom: 8px;
  margin-top: 0;
}

@media (min-width: 768px) {
  .values-intro {
    max-width: 1288px;
    flex-direction: row;
    gap: 16px;
    padding: 48px 16px;
    align-items: center;
    margin: 0 auto;
    
  }

  .values-intro__content {
    order: 1;
    width: 100%;
    max-width: 580px;
    padding: 0;
    margin: auto;
  }

  .values-intro__image {
    order: 2;
    max-width: 580px;
    margin: auto;
    margin-bottom: 0;
  }

  .values-intro__title {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .values-intro__description {
    margin-top: 16px;
    margin-bottom: 0;
  }
}

.impact-pillars-wrapper {
  background-color: #525252;
  width: 100%;
}

.impact-pillars {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1232px;
}

.impact-content {
  padding-top: 32px;
  padding-bottom: 32px;
  max-width: 580px;
  margin: 0 auto;
  text-align: left;
  flex: 1;
}

.impact-content h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 6.6px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.impact-content p {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.65px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.pillars-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.pillars-wrapper {
  display: flex;
  gap: 32px;
  justify-content: center;
  padding: 0 16px;
  overflow: hidden;
}

.pillar-card {
  flex: 1;
  min-width: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: transform 0.3s ease;
}

.pillar-front {
  position: relative;
  transition: all 0.3s ease;
  height: 292px;
}

.pillar-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: height 0.3s ease;
  position: absolute;
  bottom: 0;
  border-radius: 2.9px;
}

.pillar-card h3 {
  color: white;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1.8px;
  text-align: center;
  text-transform: uppercase;
}

.nav-arrow {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #525252;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

.left-arrow {
  left: -32px;
}

.right-arrow {
  right: -32px;
}

@media (max-width: 767px) {
  .impact-content h2,
  .impact-content p {
    padding: 0 16px;
  }

  .impact-content p {
    margin-bottom: 0;
  }  

  .impact-content{
    padding-bottom: 0;
  }

  .pillars-container {
    position: relative;
    max-width: 280px;
    margin: 0 auto;
    padding-bottom: 48px;
  }

  .pillars-wrapper {
    height: 350px;
    align-items: flex-end;
    gap: 16px;
  }

  .pillar-card {
    min-width: 80px;
    height: 292px;
    opacity: 0.3;
    transition: opacity 0.3s ease;
  }

  .nav-arrow {
    display: block;
  }

  .pillar-card.active {
    height: 316px;
    opacity: 1;
  }

  .pillar-front {
    transform: scaleX(-1);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .pillar-card.active .pillar-front {
    transform: scaleX(1);
  }

  .pillar-card.active .pillar-front img {
    transform: scaleX(1);
  }
}

@media (max-width: 350px) {
  .pillar-card:not(.active) {
    display: none;
  }

  .pillar-card {
    opacity: 1;
  }

  .pillars-wrapper {
    gap: 0;
  }

  .left-arrow {
    left: 0px;
  }
  
  .right-arrow {
    right: 0px;
  }
}

@media (min-width: 768px) {
  .impact-pillars {
    flex-direction: row;
    padding: 48px 16px;
    align-items: center;
    gap: 16px;
  }

  .impact-content {
    padding: 0;
    margin: auto;
    max-width: 580px;
  }

  .pillars-container {
    flex: 1;
    max-width: 580px;
  }

  .impact-content h2,
  .impact-content p {
    padding: 0;
  }

  .impact-content h2 {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 6.6px;
  }

  .pillars-wrapper {
    justify-content: flex-start;
    height: 542px;
  }

  .pillar-card {
    padding-top: 42px;
    max-width: 120px;
  }

  .pillar-card h3 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2.4px;
  }

  .pillar-front img {
    border-radius: 8px;
  }

  .pillar-front {
    opacity: 0.3;
    height: 400px;
  }

  .pillar-card:hover .pillar-front {
    height: 440px;
    opacity: 1;
  }
}

.purpose-wrapper {
  background-color: #282828;
  width: 100%;
}

.purpose {
  color: white;
  padding: 48px 16px;
  max-width: 580px;
  margin: 0 auto;
}

.purpose__header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.purpose__icon {
  width: 24px;
  height: 24px;
}

.purpose__icon-image {
  width: 100%;
  height: 100%;
}

.purpose__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 6.6px;
  text-transform: uppercase;
  margin: 0;
}

.purpose__description {
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.65px;
  padding-bottom: 48px;
  max-width: 580px;
}

.purpose__numbers {
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.purpose__numbers-map-container {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
  position: relative;
  display: flex;
}

.purpose__numbers-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 800ms ease-in;
}

.frame-1 { 
  opacity: 1;
  position: static;
  width: 100%;
  height: auto;
}

@keyframes fadeInFrames {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes hideFrame {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.start-animation .frame-1 { 
  animation: hideFrame 800ms ease-in 2000ms forwards;
}

.start-animation .frame-2 { 
  animation: 
    fadeInFrames 800ms ease-in 1000ms forwards,
    hideFrame 800ms ease-in 4000ms forwards;
}

.start-animation .frame-3 { 
  animation: 
    fadeInFrames 800ms ease-in 3000ms forwards,
    hideFrame 800ms ease-in 6000ms forwards;
}

.start-animation .frame-4 { 
  animation: 
    fadeInFrames 800ms ease-in 5000ms forwards,
    hideFrame 800ms ease-in 8000ms forwards;
}

.start-animation .frame-5 { 
  animation: 
    fadeInFrames 800ms ease-in 7000ms forwards,
    hideFrame 800ms ease-in 10000ms forwards;
}

.start-animation .frame-6 { 
  animation: fadeInFrames 800ms ease-in 9000ms forwards;
}

.purpose__numbers-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 1.2px;
  padding-bottom: 16px;
  margin: 0;
}

.purpose__numbers-description {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.65px;
  padding-bottom: 32px;
  margin: 0;
}

.purpose__numbers-stats {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.purpose__numbers-stat {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.purpose__numbers-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.purpose__numbers-icon {
  width: 24px;
  height: 24px;
}

.purpose__numbers-label {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.purpose__numbers-value {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 5.4px;
}

@media (min-width: 768px) {
  .purpose__numbers {
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    justify-content: space-between;
    max-width: 1232px;
    margin: 0 auto 48px;
    align-items: center;
  }

  .purpose__numbers-content {
    flex: 1;
    max-width: 580px;
    min-width: 280px;
  }

  .purpose__numbers-map-container {
    order: 1;
    width: 50%;
    flex: 1;
    margin-bottom: 0;
    max-width: 580px;
    align-self: center;
  }

  .purpose__numbers-title {
    font-size: 32px;
    line-height: 36px;
  }
}

.purpose__tab-header {
  display: flex;
  gap: 16px;
  padding-bottom: 24px;
}

.purpose__tab-button {
  background: none;
  border: none;
  color: white;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.65px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0;
}

.purpose__tab-button--active {
  opacity: 1;
  border-bottom: 2px solid white;
}

.purpose__tab-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 1.2px;
  padding-bottom: 16px;
  margin-top: 0;
}

.purpose__tab-description {
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.65px;
  font-weight: 400;
  padding-bottom: 24px;
}

.purpose__cards {
  position: relative;
  display: flex;
  gap: 16px;
  overflow: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 0;
}

.purpose__cards-wrapper {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.purpose__cards-wrapper::-webkit-scrollbar {
  display: none;
}

.purpose__card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 290px;
  flex-shrink: 0;
  scroll-snap-align: start;
  cursor: pointer;
}

.purpose__card-image {
  width: 100%;
  height: 392px;
  position: relative;
}

.purpose__card-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: background-color 0.3s ease;
}

.purpose__card-image::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.purpose__card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.purpose__card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 242px;
  padding: 24px;
  padding-top: 0;
  z-index: 2;
  transform: translateY(calc(100% - 56px));
  transition: transform 0.3s ease;
}

.purpose__card-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 24px;
  gap: 16px;
}

.purpose__card-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.8px;
  margin: 0;
  color: white;
  text-transform: uppercase;
}

.purpose__card-description {
  visibility: hidden;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.65px;
  color: white;
  margin: 0;
  margin-bottom: 16px;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s linear 0.3s;
}

.purpose__card-button {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
  padding: 0;
  min-width: 32px;
  min-height: 32px;
  max-width: 32px;
  max-height: 32px;
}

.purpose__card-arrow {
  width: 32px;
  height: 32px;
}

.purpose__nav-arrow {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.1);
  border: none;
  width: 44px;
  height: 44px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-width: 44px;
  min-height: 44px;
  max-width: 44px;
  max-height: 44px;
}

.purpose__nav-arrow--left {
  left: 0;
  transform: translateY(-50%) rotate(90deg);
}

.purpose__nav-arrow--right {
  right: 0;
  transform: translateY(-50%) rotate(-90deg);
}

.purpose__nav-arrow .arrow-icon {
  width: 44px;
  height: 44px;
}

@media (min-width: 768px) {
  .purpose-wrapper {
    padding: 96px 0;
  }

  .purpose {
    padding: 0 16px;
    max-width: 1232px;
    margin: 0 auto;
  }

  .purpose__header {
    margin-bottom: 24px;
    gap: 16px;
  }

  .purpose__icon{
    width: 44px;
    height: 44px;
  }

  .purpose__icon-image{
    width: 44px;
  }

  .purpose__title {
    font-size: 48px;
    line-height: 55px;
  }

  .purpose__description {
    padding-bottom: 96px;
  }

  .purpose__numbers {
    padding-bottom: 96px;
  }

  .purpose__numbers-title{
    padding-bottom: 24px;
  }

  .purpose__numbers-description {
    padding-bottom: 48px;
  }

  .purpose__numbers-stats {
    gap: 32px;
  }

  .purpose__cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .purpose__card {
    flex: 1;
    min-width: 280px;
    max-width: calc(25% - 18px);
  }

  .purpose__tab-header {
    padding-bottom: 40px;
  }

  .purpose__tab-description {
    max-width: 540px;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.65px;
  }

  .purpose__tab-title {
    padding-bottom: 24px;
  }

  .purpose__tab-description {
    padding-bottom: 40px;
  }

  .purpose__card-image {
    height: 392px;
  }

  .purpose__nav-arrow {
    display: block;
  }

  .purpose__numbers-value{
    font-size: 56px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 8.4px;
  }
}

.purpose__card.active {
  background: rgba(255, 255, 255, 0.15);
}

.purpose__card.active .purpose__card-content {
  transform: translateY(0);
}

.purpose__card.active .purpose__card-description {
  visibility: visible;
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s linear;
}

.purpose__card.active .purpose__card-button {
  transform: rotate(180deg);
}

.purpose__card.active .purpose__card-link {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s linear;
}

.purpose__card.active .purpose__card-image::before {
  background: rgba(0, 0, 0, 0.65);
}

.purpose__card.active .purpose__card-image::after {
  opacity: 0;
}

.purpose__card-link {
  visibility: hidden;
  color: white;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 0.65px;
  text-transform: uppercase;
  transform: translateY(40px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s linear 0.3s;
  position: relative;
  display: inline-block;
}

.purpose__card-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: white;
}

.purpose__tab-content {
  opacity: 0;
  visibility: hidden;
  display: none;
  position: absolute;
  width: 100%;
}

.purpose__tab-content--active {
  opacity: 1;
  visibility: visible;
  position: relative;
  display: block;
}